<div id="preview-detail-template" class="vue-template">
	<div class="pd-container"> <!--Single root element-->
		<!--Preview display or table-->
		<div class="pd-preview-container">
			<transition name="fade">
				<div v-if="previewState == 'loading'" class="pd-loading">
					<h1 class="text-center">IT'S LOADING!!!!!</h1>
				</div>
			</transition>

			<!--Doesn't work because of global webforms form tag. R.I.P.-->
			<!--<form class="preview-search" @submit.prevent="previewLoad">
				<slot name="search"></slot>
			</form>-->
			
			<!-- 😢 -->
			<div class="pd-search-container" @keydown.enter.prevent="refreshSearch">
				<slot class="pd-search" name="search"></slot>
			</div>
			
			<slot class="pd-preview" name="preview">Preview Area</slot>
			
			<div class="pd-pager clearfix">
				<div class="pd-page-count text-muted">
					{{recordCount}} record{{recordCount == 1 ? "" : "s"}}.
					Page {{Math.min(currentPage + 1, pages)}} of {{pages}}.
				</div>
				
				<div class="pd-page-size form-inline">
					<span class="text-muted">Page Size:</span>
					<select class="form-control" v-model="pageSize">
						<option v-for="size in pageSizes" :value="size">{{size == null ? "All" : size}}</option>
					</select>
				</div>
				
				<div class="pd-pager-controls">
					<button type="button" class="btn"
							v-for="item in shownPages"
							:class="{'btn-default': !item.selected, 'btn-success': item.selected}"
							:disabled="!item.enabled"
							@click="pageChange(item.page)"
							:title="'Go to page ' + (item.page + 1)">
						{{item.text}}
					</button>
				</div>
			</div>
		</div>
		
		<hr class="pd-split" />
		
		<!--Action buttons-->
		<div class="pd-actions">
			<p>
				<button type="button" class="btn btn-danger pull-right" v-on:click="detailDelete">Delete</button>
				<button type="button" class="btn btn-info"
						v-on:click="detailNew" v-tooltip="'Hotkey: Ctrl-G'">
					New
				</button>
			</p>
			<div class="row">
				<div class="col-lg-10 col-md-9 col-sm-8">
					<button type="button" class="btn btn-success btn-block" 
							v-on:click="detailSave" v-tooltip="'Hotkey: Ctrl-S'">
						Save
					</button>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-4">
					<button type="button" class="btn btn-danger btn-block" v-on:click="detailCancel">Cancel</button>
				</div>
			</div>
		</div>
		
		<div 
			class="pd-message alert"
			v-if="messageType != 'none'"
			v-bind:class="{'alert-success': messageType == 'success', 'alert-danger': messageType == 'error'}">
			
			{{messageText}}
		</div>
		
		<!--Debugging / visualization-->
		<p class="text-muted">Preview State: {{previewState}} Detail State: {{detailState}}</p>
		
		<!--Details display-->
		<div class="pd-detail-container" style="position: relative;">
			<transition name="fade">
				<div v-if="detailState == 'loading'" class="pd-loading">
					<h1 class="text-center">IT'S LOADING!!!!!</h1>
				</div>
			</transition>
			
			<div v-if="detailState != 'unloaded'">
				<slot class="pd-detail" name="detail">Detail Area</slot>
			</div>
		</div>
	</div>
</div>
<script src="/ControlsView/PreviewDetail.html.js"></script>